body {
    background-color: black;
    color: white;
}

.fight-area {
    display: flex;
    gap: 20px;
}

#char, #monster {
    flex: 1;
}

.lifebar {
    height: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}

.log {
    border: 1px #999 dotted;
    height: 200px;
    overflow-y: scroll;
}
